.time {
    position: relative;
    text-align: center;
    padding: 32px;
    background-image: url('../../../public/assets/img/fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    &__inputColor {
        position: absolute;
        top: 20px;
        right: 50px;
    }
    &__titulo {
        font-size: 32px;
        border-bottom: 4px solid;
        display: inline-block;
        padding-bottom: 8px;
    }
    &__colaboradores {
        display: flex;
        justify-content: space-around;
        margin-top: 32px;
        flex-wrap: wrap;
    }
}

