.formularios {
    display: flex;
    margin: 60px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.organizacao {
    text-align: center;
    &__titulo {
        color: #6278F7;
        font-size: 48px;
        border-bottom: 4px solid;
        display: inline-block;
        padding-bottom: 8px;

    }
}